.bestRealEstateDealsSection {
    .filter {
        max-width: 897px;
        margin-bottom: 56px;
        display: flex;
        gap: 45px;
        .filterText {
            margin-left: 16px;
            font-size: 18px;
            font-weight: 600;
            color: var(--color-text);
            white-space: nowrap;
            cursor: pointer;
            transition: 0.3s ease-in all;
            &.active {
                padding-bottom: 15px;
                border-bottom: 2px solid var(--main-color);
                color: var(--main-color);
            }
        }
        .filterText:hover {
            padding-bottom: 15px;
            border-bottom: 2px solid var(--main-color);
            color: var(--main-color);
        }
    }
    .cardsGallery {
        display: flex;
        flex-wrap: wrap;
        /* justify-content: space-between; */
        gap: 31px;
    }
}

@media screen and (max-width: 992px) {
    .bestRealEstateDealsSection {
        .filter {
            max-width: 100%;
            justify-content: space-between;
            flex-wrap: nowrap;
            gap: 10px;
            overflow-x: auto;
        }
        .filter::-webkit-scrollbar {
            border-radius: 10px;
        }
        .filter::-webkit-scrollbar-thumb:hover {
            cursor: grab;
        }
        .cardsGallery {
            flex-direction: column;
        }
    }
}