footer {
    .footer-container {
        padding-bottom: 35px;
        border-bottom: 1px solid #2222221A;
        display: flex;
        justify-content: space-between;
        .footer-logo {
            max-width: 351.67px;
            img {
                max-width: 100%;
            }
            .footer-desc {
                margin-top: 25.92px;
                margin-bottom: 48.67px;
                font-weight: 400;
                font-size: 16px;
                color: var(--color-text-opacity);
            }
        }
        .footer-section {
            h4 {
                margin-bottom: 20px;
                font-size: 20px;
                font-weight: 700;
                color: var(--color-text);
            }
            ul {
                list-style: none;
                li {
                    margin-bottom: 16px;
                    a { 
                        font-size: 16px;
                        font-weight: 400;
                        color: var(--color-text);
                        text-decoration: none;
                    }
                }
            }
            p {
                font-size: 16px;
                font-weight: 400;
                color: var(--color-text);
            }
        }
        .footer-social {
            margin-top: 16px;
            display: flex;
            gap: 16px;
            .img {
                width: 48px;
                height: 48px;
                border-radius: 50%;
                background-color: var(--main-color);
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}

@media screen and (max-width: 992px) {
    footer {
        .footer-container {
            flex-direction: column;
            .footer-logo {
                max-width: 100%;
                .footer-desc {
                    margin: 26px 0px 32px;
                }
            }
        }
    }
}